#stopwatchContainer{
    width:300px;
    margin: auto;
}

#nameInputContainer{
    width:300px;
    position: relative; /* for absolute child element */
    display: inline-block; /* to take the width of the input */
    text-align:center;
}

#nameInput{
    width: 100%;
    outline: 0;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    text-align:center;
    font-size: 25px;
}

#timerContainer{
    position: relative; /* for absolute child element */
}

.buttonContainer{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;

}

.resetButton{
    background-color: #333;
    border-color: white;
    color:white;
    padding: 5px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    font-size: 20px;
}

.resetButton:hover{
    background-color: #444;
    cursor: pointer;
}